
data/imagnet_samples
.idea
archive/*
archive/kaggle.json
data
models/mnist/*
*.pyc
*_accuracy.txt
*.pt
*.dat
*.png
*1.pth
*2.pth
*3.pth
*4.pth

Latex/thesis_template (1)
Latex/thesis_template (1).zip
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pdf
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
.bak
.mtc
build/

models/food101/logs/*
